<!-- Navbar -->
<nav class="text-bold main-header navbar navbar-expand navbar-white navbar-light" style="background-color: #fafafa">
    <!-- Left navbar links -->
    <ul class="navbar-nav ml-5" id="navbar">
        <li class="nav-item">
        @*<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>*@
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Home/index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Home/RRHH" class="nav-link">RRHH</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Home/Documentos" class="nav-link">Documentos y formularios</a>
        </li>
        
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Home/Recursos" class="nav-link">Recursos</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Home/PortalDocumental" class="nav-link">Portal documental</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto" id="login">

    </ul>
  </nav>
  <!-- /.navbar -->
