  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav ml-5">
      <li class="nav-item">
        @*<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>*@
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">RRHH</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="~/Home/documentos" class="nav-link">Documentos y formularios</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Recursos</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="~/Home/PortalDocumental" class="nav-link">Portal documental</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="~/Home/MantenimientoUsuarios" class="nav-link">Mantenimiento Usuarios</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="~/Home/Bitacora" class="nav-link">Bitacora de  Usuarios</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="~/Home/Proyectos" class="nav-link">Documentos Privados</a>
      </li>
       <li class="nav-item d-none d-sm-inline-block">
        <a href="~/Home/MantenimientoGeneral" class="nav-link">Mantenimiento General</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item mr-5">
            <a href="~/usuario/ingresar" class="btn btn-sm btn-outline-primary">Iniciar sesion</a>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->
