@{
    ViewData["Title"] = "Home Page";
    //Layout = null;

}

 <div class="">
    <div class="" style="margin-left: 10%; margin-right: 10%;">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <div class="nav flex-column nav-pills" id="SideBarOptions" role="tablist" aria-orientation="vertical">
                    <img src="~/img/logo-grupo-gama.png" alt="" class="mx-auto w-75 my-5"  id="logo-sidebar"/>

                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="tab-content" id="v-pills-tabContent">

                </div>
            </div>
        </div>

        

    </div>
    <div style="margin-left: 10%; margin-right: 10%;">
        <div class="my-5 dynamic-container" id="dynamic-container">
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Home.js" asp-append-version="true"></script>
}