@{
ViewData["Title"] = "Home Page";
Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebApplication1</title>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
  <link rel="stylesheet" href=~/css/admin.css/> <script src="~/js~/js/admin.js">
  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>



</head>

<body class="sidebar-closed sidebar-collapse cuerpo">
  <style>
    .main-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
    }
  </style>
  <partial name="_Navbar" />

  <div class="">
    <br />
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="enca">Mantenimiento de  <b>Usuarios</b></h2>
              </div>
              <div class="col-sm-8">
                <!-- Vertically centered modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Nuevo</button>
              </div>
            </div>
          </div>
          <div class="table-filter">
            <div class="row">
              <div class="col-sm-3">
                <div class="show-entries">
                  <span>Show</span>
                  <select class="form-control">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
                  <span>entries</span>
                </div>
              </div>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                <div class="filter-group">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover"  id="example">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="#">Michael Holz</a>
                </td>
                <td>London</td>
                <td>Jun 15, 2017</td>
                <td><span class="status text-success">&bull;</span> Delivered</td>
               <td><a href="#" class="view" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xe065</i></a></td>
                <td><a href="#" class="view" title="Desahabilitar" data-toggle="tooltip"><i class="material-icons">&#xe872;	</i></a></td


              </tr>
              <tr>
                <td>2</td>
                <td><a href="#"> Paula Wilson</a>
                </td>
                <td>Madrid</td>
                <td>Jun 21, 2017</td>
                <td><span class="status text-info">&bull;</span> Shipped</td>
                <td><a href="#" class="view" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xe065</i></a></td>
                <td><a href="#" class="view" title="Desahabilitar" data-toggle="tooltip"><i class="material-icons">&#xe872;	</i></a></td
              </tr>

            </tbody>
          </table>
          <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
              <li class="page-item disabled"><a href="#">Previous</a></li>
              <li class="page-item"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item active"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">6</a></li>
              <li class="page-item"><a href="#" class="page-link">7</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <partial name="_Footer" />

 <!-- jQuery -->
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>

 <!-- MODAL -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

</html>